body {
  background-color: black;
  color: white;
  text-align: center;
}

.drink-image {
  width: 350px;
  height: 350px;
}

#recipe-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h3,
ul,
li,
p {
  text-align: center;
}
