body {
  background-color: black;
  color: white;
  text-align: center;
}

.drink-image {
  width: 350px;
  height: 350px;
  margin-top: 20px;
}

.fav-drink {
  margin: 10px;
  width: 200px;
  height: 200px;
}

#recipe-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h3,
ul,
li,
p {
  text-align: center;
}

ul {
  list-style-type: none;
}

#ingredient-container,
#measurement-container {
  display: inline-block;
}
